

nav{
background-color:#808080;
font-size:20px;
height:35px;
}

nav li{
color:#5F9EA0;
display:block;
text-align:left;
position:relative;
top:5px;
padding:2px;
}

nav a:link{
color:#d1e0e0;
}

nav a:visited{
color: #e0ebeb;
}

body{
background-color: white;
max-height:1300px;
}

main{
background-color:white;
margin-left:auto;
margin-right:auto;
width:99%;
font-size:115%;	
height:1300px;
min-width:440px;
}

.mainB{
height:1825px;
}

.wrapper{
margin-left:auto;
margin-right:auto;
width:70%;	
}

p{

padding:5px;


}

img{
padding:10px;
border: 2px solid grey;
padding:0px;
border-radius: 15px;
}

li{
margin-top:5px;
}

ul{
padding-bottom:10px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivSm{
height:220px;
width:69%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivM{
height:250px;
width:69%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivW{
height:250px;
width:80%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivFull{
height:430px;
width:100%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivBig{
height:340px;
width:69%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.Title{
padding:8px;
padding-left:20px;
color:white;
font-size:110%;
font-weight:bold;
border-radius: 5px;
background: #a3c2c2; 
}

.TitleBig{
padding:8px;
padding-left:20px;
color:white;
font-size:150%;
font-weight:bold;
text-align:center;
border-radius: 5px;
background: #a3c2c2 
}

.TitleNB{
padding:8px;
color:light grey;
font-size:110%;
font-weight:bold;
text-decoration:underline;
}

.standOut{
font-size:102%;
font-weight:bold;
text-decoration:underline;
}

.Highlight{
background-color:#66c2ff;
font-weight:bold;
}

.bold{
font-weight:bold;	
}

.infoBox{
text-align:center;
}

.vidBox{
width:80%;
}

.pusher{
visibility:hidden;
}

.bigTxt{
font-size:125%;
}
.hugeTxt{
font-size:200%;
text-align:center;	
}
.bigBox{
margin-top:20px;
margin-bottom:20px;
padding:10px;
width:59%;
height:620px;
background-color:#ffffff;
opacity: 0.75;
position:relative;
left:40%;
bottom:640px;	
}

.textCentered{
padding:10px;
font-size:140%;
text-align:center;
}

.noPad{
 padding:0px;
 margin:0px;
}

.textHalfLeft{
width:50%;
height:400px;
}


.Bump10per{
position:relative;
left:10%;    
}



.CenteredSm{
position:relative;
left:10%;
width:80%;
}

.CenteredExSm{
position:relative;
left:30%;
width:40%;
margin-bottom:10px;
}

.picPos1{
position:relative;
left:72%;
bottom:640px;
}

.picPos2{
position:relative;
right:15%;
bottom:426px;
}

.picPos3{
position:relative;
left:31%;
bottom:125px;
}

.picPos4{
position:relative;
left:8%;
bottom:1250px;
}

.picPos5{
position:relative;
left:33%; 
bottom:910px;
}

.picPos6{
position:relative;
left:10%;
bottom:810px;
width:75%;
}

.textRight{
position:relative;
left:30%;
}

.textRightB{
position:relative;
left:30%;
}

.divUp{
position:relative;
bottom:650px;
}

.divUpLow{
position:relative;
bottom:200px;
}

.bigImg{
margin-top:20px;	
width:50%;
height:605px;
}

.medPic{
width:45%;    
}

.smallPic{
width:20%;
min-width:12%;
}

.outlineBox{
border-style:solid;
border-bottom-width:2px;
width:300px;
}

.padded{
padding:5px;
}

.TxtCentered{
text-align:center;
border-bottom-style:solid;
border-width:2px;
}

.outputBox{
width:100%;
margin-top:20px;
height:200px;
}

.instruction{
font-weight: bold;
margin-top:50px;
font-size:125%;
}

.singleScreen{
height:900px;
}

.italicSm{
font-size:80%;
font-style: italic;	
}

/* Added CSS to load apple photo and style navigation */

section {
	background-color: #FFC;
	background: url('images/MarbleLogo.jpg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:1000px;
	}

#admin {
	text-align: right;
	font: 1.5em Arial, sans-serif;
        box-shadow:none; 
	}

#logreg {
	text-align: center;
	margin: 0 auto;
	font: 2.5em Arial, sans-serif;
        box-shadow:none; 
	}
	
section a, #admin a {
	text-decoration: none;
	}
	
section a:link, #logreg {color: #FFF;}
section a:hover {color: #FFC;}

/***********************************************************************************************************************************************************************************************************************************/

@media only screen and ( max-width: 1300px){

main{
background-color:#ffffff;
margin-left:auto;
margin-right:auto;
width:95%;
font-size:115%;	
height:1550px;
}


.mainB{
height:2160px;
}

.wrapper{
margin-left:auto;
margin-right:auto;
width:90%;	
}

.textDivSm{
height:240px;
width:59%;
padding-top:20px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivM{
height:275px;
width:69%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivW{
height:270px;
width:80%;
padding-top:30px;
box-shadow: 0 5px 5px -5px #333;
}

.textDivBig{
height:450px;
width:59%;
padding-top:20px;
box-shadow: 0 5px 5px -5px #333;
}

.picPos1{
position:relative;
left:65%;
bottom:770px;
}

.picPos2{
position:relative;
right:18%;
bottom:520px;
}

.picPos3{
position:relative;
left:15%;
bottom:150px;
}

.picPos4{
position:relative;
left:2%;
bottom:1390px;
}

.picPos5{
position:relative;
left:42%; 
bottom:1040px;
}

.picPos6{
position:relative;
left:10%;
bottom:820px;
width:75%;
}


.smallPic{
width:25%;
min-width:15%;
}

.textRight{
position:relative;
left:40%;
}

.textRightB{
position:relative;
left:30%;
}

.bigBox{
margin-top:20px;
padding:10px;
width:65%;
height:685px;
background-color:#ffffff;
opacity: 0.75;
position:relative;
left:30%;
bottom:705px;	
}

.bigImg{
margin-top:60px;	
width:50%;
height:625px;
}


.CenteredSm{
position:relative;
left:10%;
width:80%;
}



.textHalfLeft{
width:65%;
height:400px;
}

.picHalfRight{
position:relative;
left:70%; 
}

.medPic{
width:35%;    
}

.divUpA{
position:relative;
bottom:900px;
}



}
/***********************************************************************************************************************************************************************************************************************************/
@media only screen and ( max-width:820px){

main{
background-color:#ffffff;
margin-left:auto;
margin-right:auto;
width:99%;
font-size:115%;	
height:1200px;
}

.mainB{
height:1950px;
}


.bigBox{
margin-top:20px;
padding:10px;
width:100%;
height:625px;
background-color:#ffffff;
opacity: 0.70;
position:relative;
left:0%;
bottom:645px;	
}

.bigImg{
margin-top:20px;	
width:100%;
height:605px;
}

.imgHide{
visibility:hidden;
}

.smallPic{
width:34%;
min-width:15%;
position:static;
}

.divUp{
position:relative;
bottom:320px;
}

.picPos1{
position:relative;
left:25%;
bottom:500px;
}

.picPos4{
position:relative;
left:25%;
bottom:1280px;
}

.divUpLow{
position:relative;
bottom:320px;
}

.smallPic{
width:50%;
min-width:15%;
}



.textDivSm{
height:200px;
width:95%;
padding-top:20px;
box-shadow:none;
}

.textDivM{
height:270px;
width:95%;
padding-top:30px;
box-shadow: none;
}

.textDivW{
height:270px;
width:95%;
padding-top:30px;
box-shadow: none;
}

.vidBox{
width:95%;
}

.pusher{
visibility:initial;
}

.textDivBig{
height:420px;
width:95%;
padding-top:20px;
box-shadow:none;
}

.textHalfLeft{
width:95%;
height:400px;
}

.CenteredSm{
position:relative;
left:5%;
width:90%;
}

.textRight{
position:relative;
left:0%;
}

.textRightB{
position:relative;
left:0%;
}

.picUpD{
position:relative;
bottom:575px;
}

.divUpA{
position:relative;
bottom:700px;
}

.Bump10per{
position:relative;
left:0%;    
}

}


/***********************************************************************************************************************************************************************************************************************************/
@media only screen and ( max-width:600px){
	
main{
background-color:#ffffff;
margin-left:auto;
margin-right:auto;
width:99%;
font-size:115%;	
height:1550px;
}

.mainB{
height:2100px;
}

.textDivSm{
margin-top:100px;
height:250px;
width:95%;
padding-top:20px;
box-shadow:none;
}

.textDivM{
height:300px;
width:95%;
padding-top:30px;
box-shadow: none;
}

.textDivW{
height:300px;
width:95%;
padding-top:30px;
box-shadow: none;
}

.textDivBig{
height:350px;	
width:95%;
padding-top:20px;
box-shadow:none;
}

.smallPic{
width:50%;
min-width:15%;
}


.picUpD{
position:relative;
bottom:375px;
}

.divUp{
position:relative;
bottom:400px;
}

.picPos1{
position:relative;
left:25%;
bottom:820px;
}

.picPos4{
position:relative;
left:25%;
bottom:1470px;
}


.wrapper{
margin-left:auto;
margin-right:auto;
width:95%;	
min-width:430px;
}

.bigImg{
margin-top:20px;	
width:100%;
height:605px;
visibility:hidden
}

.divUpA{
position:relative;
bottom:300px;
}

.picUpF{
position:relative;
bottom:240px;
}

}


