.admin-content-pink {
	margin-top: 20px;
	background-color: #2F4F4F;
	border-top: 4px #f7cac9 solid;
	padding: 15px;
}

.admin-content-mint{
        margin-top: 20px;
	background-color: #2F4F4F;
	border-top: 4px #00FA9A solid;
	padding: 15px;
}

.admin-content-red{
        margin-top: 20px;
	background-color: #2F4F4F;
	border-top: 4px #CD5C5C solid;
	padding: 15px;
}

.admin-content-yellow{
        margin-top: 20px;
	background-color: #2F4F4F;
	border-top: 4px #ffcc5c solid;
	padding: 15px;
}

.dashboard-left-cell {
	padding-right: 5px;
}

.dashboard-right-cell {
	padding-left: 5px;
}

#dashboard-con header {
	margin-bottom: 20px;
	border-bottom: 1px #eee solid;
	padding-bottom: 10px;
}

h3 {
	margin: 0px;
	padding-top: 3px;
        color: #FFF5EE;
        font-weight: bold;
}

#dashboard-con {
	padding-bottom: 100px;
}

label{
    color: #FFF5EE;
    font-weight: bold;
}
